.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
